body {
    margin: 0;
    padding: 0;
    background-image: url('https://images.wallpaperscraft.ru/image/single/dom_reka_les_167215_3840x2160.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
}
.glass-panel {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

/* Верхняя панель */
#rectangle-top-panel {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);

    width: 500px;
    height: 65px;
    border-radius: 20px;

    align-items: center;
    display: flex;
}
#rectangle-top-panel h1{
    margin-left: 10px;
    font-size: 35px;
    font-weight: 200;
    font-family: 'Raleway', sans-serif;
}
#add-task-icon
{
    margin-left: auto;
    margin-right: 15px;
    width: 30px;
    height: 30px;
}


/* Левая панель */
#rectangle-left-panel {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 70px;
    height: 500px;
    border-radius: 20px;

    padding-top: 10px;
}


.icon{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    box-shadow:
            0 4px 6px rgba(0, 0, 0, 0.1),
            0 10px 20px rgba(0, 0, 0, 0.15);

    display: flex;
    justify-content: center;
    align-items: center;
}
.icon:hover {
    opacity: 1;
    transform: translateY(-2px) scale(1.10);
    box-shadow:
            0 6px 12px rgba(0, 0, 0, 0.15),
            0 15px 30px rgba(0, 0, 0, 0.25);
}
.icon img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.icon-text {
    position: absolute;
    left: 110%;
    top: 50%;
    transform: translateY(-50%) translateX(15px);
    font-family: 'JetBrains Mono', sans-serif;
    white-space: nowrap;
    color: white;
    font-size: 18px;
    font-weight: 100;
    text-shadow: 0 2px 4px rgba(0,0,0,0.8);
    opacity: 0;
    pointer-events: none;
}

.icon:hover .icon-text {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

    transform: translateY(-50%) translateX(15px);

    transition: opacity 0.5s ease, visibility 0.5s ease;
}


#profile-icon
{
    margin-top: 10px;
}

#team-icon
{
    margin-top: 50px;
}
#quests-icon
{
    margin-top: 30px;
}
#settings-icon
{
    margin-top: auto;
    margin-bottom: 20px;
}

